// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1024px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;

// colors
$primary: #222222;
